.messageCreator {
    background: transparent;
    border-radius: 5px;
}

.messageCreatorWrapper {
    padding: 15px;
    background: #fff;
    border-top: 1px solid #dfdfdf;
}

.title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formControl {
    background: #fff;
}
