.messages {
    grid-area: messages;
}

.messagesList {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 300px;
    overflow: hidden auto;
    background: #fff;
    padding: 15px 15px 0 15px;
}

.currentUser {

}
