.item {
    display: inline-flex;
}

.itemInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.itemInner > * {
    padding: 5px;
}


.info * {
    margin: 0 0 10px 0;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}
.info {
    position: relative;
    margin: 0;
}

.info .name {
    font-weight: normal;
}

