.item {
}

.item > .link {
    display: flex;
    margin: 0;
    text-decoration: none;
    padding: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    color: #000;
}
.item > .link:hover {
    background: #f9f9f9;
}
.item > .link:hover .info:after {
    opacity: 0;
}
.item > .link:hover {
    border-color: #dfdfdf;
}
.item:first-child {
    border-top: none;
}
.item:first-child > .link {
    border-top: none;
}
.item:first-child .info:after {
    opacity: 0;
}
.item > .link.active {
    background: #1992FD;
    color: #fff;
    border-color: #1992FD;
    z-index: 2;
    position: relative;
}

.item > .link.active .info:after {
    opacity: 0;
}

.itemInner {
    display: grid;
    grid-template-columns: 1fr 11fr;
    width: 100%;
}
.itemInner > * {
    padding: 10px;
}

.info * {
    margin: 0 0 10px 0;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}
.info {
    position: relative;
    margin: 0;
}

.info .name {
    font-weight: bold;
}

.info:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: #dfdfdf;
    top: -2px;
}


