.app-wrapper {
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 70px 1fr;
  grid-gap: 10px;
  grid-template-areas: "header header" "sidebar content";
}

.content {
  grid-area: content;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
}

* {
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
}

textarea {
  width: 100%;
  resize: vertical;
}
.form-control {
  width: 100%;
}

.justify-content-end {
  justify-content: flex-end;
}

.form-control {
  background: #f8f8f8;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  min-height: 40px;
}

* {
  outline: none;
}

.drButton {
  background: #1992FD;
  color: #fff;
  border: none;
  appearance: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  display: inline-flex;
  cursor: pointer;
}
.drButton:hover {
  background: #198af2;
}

.form-group:not(:last-child) {
  margin-bottom: 10px;
}
