.app-wrapper {
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-gap: 10px;
  grid-template-areas: "header header" "sidebar content";
}

.header {
  grid-area: header;
  /*grid-column: 1/end;*/
  /*grid-row: 1;*/
  background-color: #ffe39d;
}

.sidebar {
  grid-area: sidebar;
  /*grid-column: 1;*/
  /*grid-row: 2;*/
  background-color: #bde5f7;
}

.content {
  grid-area: content;
  background-color: #94ff77;
  /*grid-column: 2;*/
  /*grid-row: 2;*/
}

img {
  display: block;
  max-width: 100%;
  width: auto;
}

.header img {
  max-height: 100%;
}

.header, .sidebar, .content {
  padding: 10px 15px;
}

* {
  box-sizing: border-box;
}

.content-header {
  position: relative;
  width: 100%;
  max-height: 200px;
  min-height: 200px;
  overflow: hidden;
}
.content-header img {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateY(-50%);
}
