.app-wrapper {
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 70px 1fr;
  grid-gap: 10px;
  grid-template-areas: "header header" "sidebar content";
}

.content {
  grid-area: content;
  background-color: #fff;
  padding: 20px;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
}

* {
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
}

textarea {
  width: 100%;
  resize: vertical;
}
.form-control {
  width: 100%;
}

.justify-content-end {
  justify-content: flex-end;
}
