.card {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #efefef;
}

.content {
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-gap: 15px;
    width: 100%;
}

.avatar {
    position: relative;
    width: 100px;
    height: 100px;
    min-height: 100px;
    min-width: 100px;
    border-radius: 50px;
    background: #f8f8f8;
    overflow: hidden;
}

.avatar img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.info {}
.info .infoGroup > *,
.info .infoGroup .infoGroupContent > * {
    margin: 0 0 10px 0;
}

.infoTitle {
    font-size: 24px;
    line-height: 32px;
}

.infoGroup {
    margin: 0 0 20px 0;
}
.infoGroup.infoMain {}
.infoGroup.infoAJob {}
.infoGroup.infoContacts {}

.infoGroupContent {
    margin-right: 15px;
}
.infoGroupTitle {}

