.card {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #efefef;
}

.content {
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-gap: 15px;
    width: 100%;
}

.info {}
.info .infoGroup > *,
.info .infoGroup .infoGroupContent > * {
    margin: 0 0 10px 0;
}

.infoTitle {
    font-size: 24px;
    line-height: 32px;
}

.infoGroup {
    margin: 0 0 20px 0;
}
.infoGroup.infoMain {}
.infoGroup.infoAJob {}
.infoGroup.infoContacts {}

.infoGroupContent {
    margin-right: 15px;
}
.infoGroupTitle {}

