.card {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #efefef;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.content .contentColumn {
    flex: 1;
    padding: 0 1rem;
}
.content .contentColumn:first-child {
    width: 30%;
    flex: initial;
}



.info {
    grid-column: 2;
    grid-row: 1/end;
}
.info .infoGroup > *,
.info .infoGroup .infoGroupContent > * {
    margin: 0 0 10px 0;
}

.infoTitle {
    font-size: 24px;
    line-height: 32px;
    display: inline-block;
}

.infoGroup {
    margin: 0 0 20px 0;
}
.infoGroup.infoMain {}
.infoGroup.infoAJob {}
.infoGroup.infoContacts {}

.infoGroupContent {
    margin-right: 15px;
}
.infoGroupTitle {}

.uploadFile {
    grid-column: 1;
}

.infoTitleWrapper > * {
    margin: 0;
}
.infoTitleWrapper > button {
    margin-left: 15px;
}

.avatarWrapper {
    position: relative;
}
.avatarWrapper .uploadFile {
    background: #fff;
    transition: all .2s cubic-bezier(0.22, 0.61, 0.36, 1);
}
